.App {
  background-color: #f5f6fa;
  color: #6A7076;
  font-weight: bold;
  img{
    width: 1.91em;
    height: 1.91em;
  }
  .app-bg {
    .display_page {
      padding: 0;
      margin: 0 16em;
      margin-top: 5em;

      li {
        border-radius: 5px;
        margin: 1em 0;
        padding: 1em 0.2em;
        background-color: #ffffff;
        font-weight: 500;
        img {
          width: 30px;
          height: 30px;
        }
        .score{
          width: 1em;
          height: 1em;
          margin-right: 4px;
        }
        .btn-group {
          display: grid;
          height: 5em;
          justify-content: center;
          margin: 0.9em;
          padding: 0.3em;
          border-radius: 8px;
          color: #5156b3;
          text-align: center;
          background-color: #f5f4f6;
          button{
            color: #C8C7DD;
           .plus{
            width: 9px;
            height: 9px;
           }
           .minus{
            width: 9px;
            height: 2px;
           }
          }
        }
        .widths {
          width: 100%;
          .info {
            align-items: center;
            text-align: center;
            p,
            img {
              margin: 0.4em;
            }
          }
          .action_btn{
            button{
              color:#6165B1;
              font-weight: bold
            }
            button:hover{
              color: #CFD0DD;
            }
            .action_delet{
              color: #D5777F;
            }
            .action_delet:hover{
              color: #FDB9BB;
            }
          }
         .update_content{
          width: 90%;
          border: 1px solid #D8D8E1;
          border-radius: 3px;
          margin: 1em 0;
          padding: 10px 5px;
          font-size: 20px;
          resize: none;
        }
        .update {
          width: 6em;
          height: 2em;
          margin: 22px 10px;
          color: #ffffff;
          border-radius: 3px;
          background-color: #5156b3;
        }
        }
        .current_usr {
          width: 2.5em;
          height: 1em;
          font-size: 0.81em;
          font-weight: 500;
          padding: 0.2em 0.22em 0.6em;
          color: #ffffff;
          border-radius: 3px;
          background-color: #5156b3;
          text-align: center;
          vertical-align: middle;
          display: table-cell;
        }
        textarea {
          width: 100%;
          border: 1px solid #f5f5f5;
          border-radius: 3px;
          margin: 1em 0;
          padding: 10px 5px;
          font-size: 20px;
          resize: none;
        }
      }
      @import "./modal.scss";
      .list-container{
        border-left: #EAEEED 2px solid;
        margin-left: 2em;
      }
      ul {
        padding-left: 2em;
       
      }
    

      .replies {
        p {
          span {
            color: #5156b3;
          }
        }
      }
    
    }
    .prf_img {
      margin: 1.1em;
    }
    .comment_sec {
      background-color: #ffffff;
      .comment_content {
        width: 100%;
        border: 1px solid #D8D8E1;
        border-radius: 3px;
        margin: 1em 0;
        padding: 10px 5px;
        font-size: 20px;
        resize: none;
      }
      .send {
        width: 6em;
        height: 2em;
        margin: 22px 10px;
        color: #ffffff;
        border-radius: 3px;
        background-color: #5156b3;
      }
    }
  }
}
