.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 20%;
  height: auto;
  top: 50%;
  left: 40%;
  border-radius: 0.3em;
  padding: 1.25em;
  transform: translate(-50%, -50%);
  p{
    margin-bottom: 10px;
}
    button{
        font-weight: 800;
        width: 40%;
        height: 40px;
        padding: 2px 5px;
        border-radius: 0.3em;
        color: white;
    }
  .delet {

    background-color: gray;
  }
  .c_delet {
   
    background-color: red;
  }

}


